
<div>
  <h1> Image Editor</h1>
  <div style="height: 70vh">
    <pintura-editor
    #inlineEditor
    [resizeSizePresetOptions]="resizeSizePresetOptions"
    [options]="editorOptions"
    [options]="editorDefaults"
    [imageAnnotation]="imageAnnotation"
    [stickers]="stickers"
    [fillOptions]="fillOptions"
    [src]="inlineSrc"
    (load)="handleInlineLoad($event)"
    (process)="handleInlineProcess($event)"
    (process)="handleEditorProcess($event)"
    (load)="handleEditorLoad()"



  ></pintura-editor>
  
  </div>

  <p><img *ngIf="inlineResult" [src]="inlineResult" alt="" /></p>

  <h2>FilePond</h2>

  <file-pond
  #myPond
  [files]="pondFiles"
  (oninit)="pondHandleInit()"
  (onaddfile)="pondHandleAddFile($event)"
  (onactivatefile)="pondHandleActivateFile($event)"
  (onpreparefile)="pondHandlePrepareFile($event)"
>
</file-pond>
</div>
